@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('NotoSansKR'), url('./NotoSansKR-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('NotoSansKR'), url('./NotoSansKR-Medium.ttf') format('woff');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('NotoSansKR'), url('./NotoSansKR-Bold.ttf') format('woff');
}
